{% extends 'base.html.twig' %}
{% block body %}
<h2 class="page-header"> List of Reports Waiting Approval</h2>
<table class="table table-striped"> 
	<thead> 
		<tr> 
			<th>#</th> 
			<th>Name</th> 
			<th>Type</th> 
			<th>Priority</th> 
			<th></th>
		</tr> 
	</thead> 
	<tbody> 
	{%for report in reports%}
	{% if report.approved == "0"%}
		<tr> 
			<th scope="row">{{report.id}}</th> 
			<td>{{report.name}}</td> 
			<td>{{report.type}}</td>
			<td>{{report.priority}}</td> 
			<td>
			<a href="/view/{{report.id}}" class="btn btn-default"> View</a>
			<a href="/approval/{{report.id}}" class="btn btn-success"> Approve</a>
			<a href="/reject/{{report.id}}" class="btn btn-warning"> Reject</a>
			</td>
		</tr> 
	{%endif%}
	{%endfor%}
	</tbody> 
</table>
{% endblock %}