{% extends 'base.html.twig' %}
{% block body %}
<h2 class="page-header"> List of Rejected Reports</h2>
<table class="table table-striped"> 
	<thead> 
		<tr> 
			<th>#</th> 
			<th>Name</th> 
			<th>justification</th> 
			<th></th>
		</tr> 
	</thead> 
	<tbody> 
	{%for report in reports%}
	{% if report.approved == 1 and report.accepted== 0 %}
		<tr> 
			<th scope="row">{{report.id}}</th> 
			<td>{{report.name}}</td> 
			<td>{{report.justification}}</td>
			<td>
			<a href="/view/{{report.id}}" class="btn btn-success"> View</a>
			</td>
		</tr> 
	{%endif%}
	{%endfor%}
	</tbody> 
</table>
{% endblock %}