{% extends 'base.html.twig' %}
{% block body %}
	<h2 class="page-header">{{report.name}}</h2>
	<ul class="list-group">
	<li class="list-group-item"><strong>Type: </strong>{{report.type}}</li>
	<li class="list-group-item"><strong>Priority: </strong>{{report.priority}}</li>
	{%if report.type=="general"%}
	<li class="list-group-item"><strong>Cause:</strong> {{report.cause}}</li>
	{%endif%}
	{%if report.type=="site"%}
	<li class="list-group-item"><strong>Longitude:</strong> {{report.longitude}}</li>
	<li class="list-group-item"><strong>Latitude:</strong> {{report.latitude}}</li>
	{%endif%}
	<li class="list-group-item" style="word-wrap: break-word;"><strong>Description: </strong>{{report.description}}</li>
	</ul>
{% endblock %}